.titulo_refeicao{


    color: #c2185b;
    font-size:xx-large;
    text-align: center;
}

.refeicao{


    background-color: #d9bdb8;
}



body{
    font-family: "tahoma";
}

.modal { width: 30% !important ;height: 85% !important; max-height: 100% !important ; overflow-y: hidden !important ;}

table{

    font-size: 15px !important;

    table-layout: fixed;

}
tr,td,th{




    word-wrap: break-word;
    white-space: normal;

}






table.fixed td:nth-of-type(1) {width:20px;}/*Setting the width of column 1.*/


@media screen and (max-width: 1000px) {
    .modal { width: 100% !important ;height: 85% !important; max-height: 300% !important ; overflow-y: hidden !important ;}
    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 1px solid #ccc; }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    td:nth-of-type(1):before { content: "Alimento"; }
    td:nth-of-type(2):before { content: "Quantidade"; }
    td:nth-of-type(3):before { content: "Calorias"; }
    td:nth-of-type(4):before { content: "Proteínas"; }
    td:nth-of-type(5):before { content: "Carboidratos"; }
    td:nth-of-type(6):before { content: "Gorduras"; }

}